.container {
    align-items: center; /* Ensures vertical centering */
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    padding: 2rem 1rem;
}

.subcontainer {
    display: flex;
    justify-content: space-between; /* Keeps text on the left, images on the right */
    align-items: center; /* Ensures vertical centering */
    width: 100%;
    padding-right: 3%;
    box-sizing: border-box;
    position: relative;
}


.textSection {
    width: 70%;
    max-width: 65%; 
    text-align: left;
    gap: 3rem;
    padding-left: 5%;
}

.heading {
    font-size: 2.5rem;
    font-weight: 600;
    color: #2e4c1e;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-align: center;
    padding-bottom: 20px;
    font-family: 'font-serif';
}

.subheading {
    font-size: 1.6rem; /* Slightly larger than the text for emphasis */
    font-weight: 600; /* Same weight for consistency */
    color: #8B5E3B; /* Same color as the body text */
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize; /* Capitalize each word for clarity */
    text-align: center;
}

.text {
    font-size: 1.3rem;
    line-height: 1.75rem;
    font-weight: 600;
    max-width: 100%;
    color: #5A6A4F;
    padding-bottom: 20px;
    padding-top: 5px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.videoGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    grid-gap: 50px; /* Space between the videos */
    width: 100%;
    height: auto;
    justify-items: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 10rem;
}

.videoContainer {
    width: 100%;
    height: 300px; /* Adjust height to make videos larger */
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: #8B5E3B;
    border-radius: 8px;
    border: 4px solid #8B5E3B;
}

.typingText {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    color: #8B5E3B;
    overflow: hidden;
    border-right: 2px solid #2e4c1e;
    white-space: nowrap;
    animation: typing 5s steps(30) 1.5s forwards, blink 1s step-end infinite;
    animation-iteration-count: infinite;
    text-align: center;
    max-width: fit-content;
}
  
@keyframes blink {
    0% {
      border-right: 2px solid transparent;
    }
    50% {
      border-right: 2px solid #2e4c1e;
    }
    100% {
      border-right: 2px solid transparent;
    }
}

@keyframes typing {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
}

